default:
  http_metas:
    content-type: text/html

  metas:
    title:        Nietzsche Source | Documentation
    robots:       index, follow
    description:  NietzscheSource
    keywords:     documentation, nietzsche, discovery, scholarsource, talia, cost
    language:     en

  stylesheets:    [cms]

  javascripts:    []

  has_layout:     on
  layout:         layout
